<form onsubmit={{action "editPost" model}}>
  <div>
    <label for="name">Name</label>
    {{input type="text" id="name" value=model.name}}
  </div>

  <div>
    <label for="date">Date</label>
    {{input type="text" id="date" value=model.date}}
  </div>


  <div>
    <label for="location">Location</label>
    {{input type="text" id="location" value=model.location}}
  </div>


  <div>
    <label for="contact">Contact</label>
    {{input type="text" id="contact" value=model.contact}}
  </div>

  <button type="submit">Update</button>
</form>
