<style>

#message {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
  padding: 1px;
  height: 40px;
  color: black;
}

#message:hover{
  box-shadow: 1px 1px 1px 1px #888888;
}

a:link{
  text-decoration: none;

}

#body{
  margin-left: 15%;
}

</style>


<div id="body">

  <h2>Starred Emails</h2>
  {{#each model as |post|}}


  {{#if post.starred}}
<h1 data-test="email"></h1>
<h1 data-test="starred"></h1>
<h1 data-test="from"></h1>
<h1 data-test="to"></h1>
<h1 data-test="subject"></h1>
<h1 data-test="message"></h1>

      <StarButton @starred={{post.starred}} @onClick={{action "star" post}} />

  {{#link-to "post" post.id}}


  <div id="message">

  <strong>{{post.from}}</strong> |
  {{truncate-text post.message limit=100}}


  </div>
  {{/link-to}}


{{/if}}

  {{/each}}


  <h2>Everything Else</h2>


  {{#each model as |post|}}

  {{#if post.starred}}
    {{else}}
<h1 data-test="email"></h1>
<h1 data-test="notStarred"></h1>
<h1 data-test="from"></h1>
<h1 data-test="to"></h1>
<h1 data-test="subject"></h1>
<h1 data-test="message"></h1>


      <StarButton @starred={{post.starred}} @onClick={{action "star" post}} />

  {{#link-to "post" post.id}}


  <div id="message">

  <strong>{{post.from}}</strong> |
  {{truncate-text post.message limit=100}}



  </div>
{{/link-to}}

{{/if}}


{{/each}}


</div>


{{outlet}}
