<style>

#message {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
  padding: 1px;
  height: 40px;
  color: black;
}

#message:hover{
  box-shadow: 1px 1px 1px 1px #888888;
}

a:link{
  text-decoration: none;

}

#body{
  margin-left: 15%;
}

.leaflet-container{
  width: 100px;
  height: 100px;
}



</style>


<<<<<<< HEAD
{{liquid-fire}}


<h2>It's a Match!</h2>
{{#each model as |post|}}


{{#if post.starred}}
<!-- <h1 data-test="email"></h1>
<h1 data-test="starred"></h1>
<h1 data-test="from"></h1>
<h1 data-test="to"></h1>
<h1 data-test="subject"></h1>
<h1 data-test="message"></h1>

    <StarButton @starred={{post.starred}} @onClick={{action "star" post}} /> -->

{{#link-to "post" post.id}}


<div id="message">

<strong>{{post.from}}</strong> |
{{truncate-text post.message limit=100}}


</div>
{{/link-to}}


{{/if}}

{{/each}}



=======
>>>>>>> 3f878518d8adca51d33eadd534f46429c2320f51
<div id="body">

  <h2>Starred Emails</h2>
  {{#each model as |post|}}


  {{#if post.starred}}
<h1 data-test="email"></h1>
<h1 data-test="starred"></h1>
<h1 data-test="from"></h1>
<h1 data-test="to"></h1>
<h1 data-test="subject"></h1>
<h1 data-test="message"></h1>

      <StarButton @starred={{post.starred}} @onClick={{action "star" post}} />

  {{#link-to "post" post.id}}


  <div id="message">
<<<<<<< HEAD
    <!-- <button type="button" onclick={{action "deletePost" post}}>
    <img width= "20px" height= "20px"
    src="https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png"
    alt="Delete">
  </button> -->
  <strong>{{post.name}}</strong> | {{post.date}}
  {{post.location}}

  {{#link-to "edit" post.id}}
     <button type="button">
       Edit
     </button>
     {{/link-to}}
=======

  <strong>{{post.from}}</strong> |
  {{truncate-text post.message limit=100}}

>>>>>>> 3f878518d8adca51d33eadd534f46429c2320f51

  </div>
  {{/link-to}}


{{/if}}

  {{/each}}


  <h2>Everything Else</h2>


  {{#each model as |post|}}

  {{#if post.starred}}
    {{else}}
<h1 data-test="email"></h1>
<h1 data-test="notStarred"></h1>
<h1 data-test="from"></h1>
<h1 data-test="to"></h1>
<h1 data-test="subject"></h1>
<h1 data-test="message"></h1>


      <StarButton @starred={{post.starred}} @onClick={{action "star" post}} />

  {{#link-to "post" post.id}}


  <div id="message">

  <strong>{{post.from}}</strong> |
  {{truncate-text post.message limit=100}}



  </div>
{{/link-to}}

{{/if}}


{{/each}}


</div>




{{outlet}}
