<style>
#body{
  margin-left: 15%;

}

</style>




<div id="body">

<<<<<<< HEAD
  <button type="button" onclick={{action "deleteEvent" model}}>
=======


  <button data-test="delete" type="button" onclick={{action "deleteEmail" model}}>
>>>>>>> 3f878518d8adca51d33eadd534f46429c2320f51
     <img width= "20px" height= "20px"
     src="https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png"
     alt="Delete">
   </button>




  {{#link-to "index"}}
<img width="20px" height="20px" src="https://image.flaticon.com/icons/svg/7/7940.svg">  Back
  {{/link-to}}
<h1>Name: {{model.name}}</h1><hr>
<p>Date: {{model.date}}</p>
<p>Location: {{model.location}}</p>

<p>Contact: {{model.contact}}</p>

</div>
